

.tabs-wrapper,
.tabs-wrapper .nav,
.tabs-wrapper .nav .nav-item {
    width: 100%;
}

.slick-initialized .slick-slide {
    /*width: 11% !important;
     padding: 13px 2px 13px 2px;
    margin-right: 2px !important;*/
    margin-bottom: .8rem !important;
}



/*.my-row-style {
    margin-right: 0 !important;
}*/
a.services {
    outline: 0 !important;
}


/*-------------------------------------------------------------------------*/
#slidewraper .nav-link {
    padding: 0 !important;
}

.slick-dots li {
    margin: 0 0 !important;
}

.slick-dots {
    /*bottom: 0 !important;*/
}

.slick-dots li button:before {
    top: 5px !important;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #58595b !important;
}


.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: #b4b4b4 !important;
    font-weight: bold !important;
}

/*.slick-prev:before {
    content: '\f104' !important;
}

[dir='rtl'] .slick-prev:before {
    content: '\f105' !important;
}

.slick-next:before {
    content: '\f105' !important;
}

[dir='rtl'] .slick-next:before {
    content: '\f104' !important;
}*/

[dir='rtl'] .slick-prev {
    right: 10px !important;
    left: auto;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 25px !important;
}

.p-card {
    /*padding-bottom: 14px !important;*/
    padding-right: 7px !important;
    padding-left: 7px !important;
}

.slick-list {
    margin-left: 25px !important;
    margin-right: 25px !important;
}
